<!DOCTYPE html>
<html lang="en">
<body>
    {{!-- add images, start detecting button, musical notes span --}}
    {{!-- add a hook slogan (eg "See it. Hear it. Know it"), brief explaination
     ("Our dual-core AI uses both vision and sound to give you the most accurate results.") --}}
    <section>
        <div class="first-box">
            <h1 class="slogan">SoundScout: See it. Hear it. Know it.</h1>
            <p class="explaination">Our dual-core AI uses both vision and sound to give you the most accurate results.</p>
            <button type="submit" onclick="window.location.href='/recognition'">Start Instrument Recognition!</button>
        </div>
    </section>
    <section id="how-it-works">
        <div class="second-box">
            <h2>How SoundScout Works: The Power of Dual-Core AI</h2>

            <div class="steps-container">
                
                <div class="step-block">
                    <div class="step-icon">👁️</div>
                    <h3>Show It</h3>
                    <p>Open your camera and point it at any musical instrument.</p>
                </div>

                <div class="step-block">
                    <div class="step-icon">👂</div>
                    <h3>Play It</h3>
                    <p>Let the microphone listen as you play a few notes.</p>
                </div>

                <div class="step-block">
                    <div class="step-icon">✅</div>
                    <h3>Know It!</h3>
                    <p>InstruLens combines visual and audio data for the most accurate ID.</p>
                </div>
            </div>
        </div>
        
    </section>

    
    <div>
        <div class="note">&#9835;</div>
        <div class="note">&#9833;</div>
        <div class="note">&#9839;</div>
        <div class="note">&#119070;</div>
        <div class="note">&#9834;</div>
    </div>
</body>
</html>