<!DOCTYPE html>
<html lang="en">
<head>
    <title>SoundScout - Instrument Recognition</title> 
    {{> head}}
</head>
<body>
    <header>
        {{> nav}}
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        {{> footer}}
    </footer>
</body>    
</html>